body {
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif
}
h1{
  margin-bottom: -5px;
}
h2{
  margin-bottom: 00px;
}
html { 
  background: url("https://i.imgur.com/9ZVGcu7.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a:link {
  text-decoration: none;
}